html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--red);
  color: var(--gold);
}
:root {
  --red: #ff0000;
  --white: #ffffff;
  --blue: #87cefa;
  --h1: 8rem;
  --h2: 10rem;
  --gold: #ffd700;
  --Text: center;
  --pos: absolute;
  --flex: flex;
}
.pic {
  background-image: url(img/ok.jpg);
  background-position: right;
  width: 190.3rem;
  height: 86.9rem;
}
.boxx {
  height: var(--h2);
}
h1 {
  font-size: var(--h1);
}
.home {
  position: fixed;
  left: 38rem;
  top: 0.1rem;
}
.btn {
  font-size: 7rem;
  color: var(--gold);
  background-color: var(--red);
  border-radius: 16px;
  margin: 10px;
}
h2 {
  font-size: var(--h1);
}
.flex {
  display: var(--flex);
  justify-content: space-between;
  font-size: 4rem;
}
.box {
  border: 3px solid pink;
  height: 35rem;
  width: 32%;
  background-repeat: no-repeat;
  background-position: var(--Text);
  box-shadow: black 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  margin: 8px;
}
.boxs {
  border: 3px solid pink;
  height: 42.3rem;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: black 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  margin: 8px;
}
.boxz {
  border: 3px solid pink;
  height: 86rem;
  width: 63%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: black 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  margin: 8px;
}
.boxl {
  height: 86rem;
  width: 50%;
  margin: 8px;
}
.read {
  font-size: 5rem;
  color: var(--gold);
}
.light {
  color: var(--gold);
  background-color: var(--red);
}
.dark {
  color: var(--white);
  background-color: var(--blue);
}
.box:hover {
  outline: 0.5rem solid pink;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  transition: 0.5s ease;
}
.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover,
.box-5:hover,
.box-6:hover {
  transform: scale(0.85, 0.85);
  transition: 0.5s ease;
}
.box-7,
.box-8,
.box-9,
.box-10 {
  transition: 1s ease;
}
.box-7:hover,
.box-8:hover,
.box-9:hover,
.box-10:hover {
  border-radius: 50%;
  transition: 1s ease;
}
.box-1 {
  background-image: url(img/ok3.jpg);
}
.box-2 {
  background-image: url(img/ok4.jpg);
}
.box-3 {
  background-image: url(img/ok5.jpg);
}
.box-4 {
  background-image: url(img/ok6.jpg);
}
.box-5 {
  background-image: url(img/ok7.jpg);
}
.box-6 {
  background-image: url(img/ok9.jpg);
}
.box-7 {
  background-image: url(img/t.jpg);
}
.box-8 {
  background-image: url(img/l.jpg);
}
.box-9 {
  background-image: url(img/k.jpg);
}
.box-10 {
  background-image: url(img/h.jpg);
}
.box-11 {
  background-image: url(img/n.jpg);
}
